.root
{
	-fx-background-image: url("GAMEMenu.png");
}

.button
{
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-font-size: 36px;
	-fx-font-family: "Courier New", Arial, Monospace;
	-fx-font-weight: bold;
	-fx-alignment: center-left;
	-fx-width: 100px;
}

.button:hover
{
	-fx-text-fill: orange;
	-fx-font-style: italic;
}